header {
    position: fixed;
    background-color: rebeccapurple;
    width: 17%;
    height: 190px;
    border-radius: 10px;
}

.head {
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 20%;
}

header a {
    font-family: 'Raleway', sans-serif;
    color: white;
}

.title {
    padding-top: 2em;
    margin-bottom: 3em;
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    font-size: 60px;
}

.img {
    justify-content: center;
    display: flex;
}

.ft-generica {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-bottom: 5em;
    margin-top: 2em;
}

.gmail, .senha {
    margin-right: 1em;
    height: 50px;
    width: 500px;
    margin-bottom: 8em;
    border-radius: 10px;
}

#gmail, #senha {
    justify-content: center;
    display: flex;
}

#but {
    height: 50px;
    width: 70px;
    border-radius: 10px;
    transition: all 1s;
}

#but:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.button {
    justify-content: center;
    display: flex;
}

form p {
    text-align: center;
}