#name {
    width: 800px;
    height: 50px;
    margin-top: 7em;
    border-radius: 10px;
}

#titulo {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    padding-top: 1em;
    padding-bottom: 1em;
    color: black;
    padding-left: 1em;
    border:4px solid black;
    border-radius: 40px;
    width: 600px;
    margin-top: 2em;
}

.div {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#but{
    margin-top: 1em;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    margin-bottom: 3em;
}

header {
    position: fixed;
    background-color: rebeccapurple;
    width: 17%;
    height: 310px;
    border-radius: 10px;
}

a {
    list-style: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}

p, h1 {
    color: black;
    font-family: 'Raleway', sans-serif;
    padding-top: 3em;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
    padding-bottom: 2em;
}


.head {
    width: 100px;
    height: 100px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 20%;
}

.msg {
    position: absolute;
    display: inline-block;
    right: 100px;
    top: 0px;
}

form {
    position: absolute;
    height: 200px;
    top: 600px;
}

.all-content {
    border: 4px solid darkslateblue; 
    border-radius: 50px;
    height: 800px;
    max-height: 800px;
    width: 95%;
    overflow-y: auto;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.5em;
}

.return div p {
    text-align: left;
    padding-left: 1em;
    border: gray solid 4px;
    border-radius: 30px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}

.msg {
    max-height: 670px;
    overflow-y: auto;
    margin-top: 0.8em;
}

.datetime{
    list-style: none;
    padding-left: 0.5em;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    padding-top: 0.5em;
}

.minutozz{
    list-style: none;
    padding-left: 0.5em;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    padding-top: 0.5em;
}

